# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
       methods,
       MASS,
       ape,
       adegenet,
       network,
       networkDynamic,
       ggplot2,
       ggmap,
       sna,
       scales,
       plyr,
       reshape2,
       mapproj,
       RColorBrewer,
       knitr
       )
